language: python
dist: xenial
python:
- '2.7'
- '3.5'
- 3.5-dev
- '3.6'
- 3.6-dev
- '3.7'
- 3.7-dev
- nightly
env:
- PIPENV_IGNORE_VIRTUALENVS=1
install:
- pip install pipenv
- pipenv install --dev
script:
- if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then pipenv install --pre black && pipenv
  run black --check .; fi
- pipenv run isort --check-only
- find . -iname "*.py" | xargs pipenv run pylint
- pipenv run pytest --cov=cachecontrol_django --cov-report=xml
deploy:
  provider: pypi
  user: craiga
  password:
    secure: UFSnvrsOFhB3yaL/sRXCSknRf943usnkwvhY9SeZDG6HdLBhLKzvYyokeFQCx1xct8A+e8jGLen+k5S8wdu6Q6n0mHXBkBXh7yHZR0Fku19nMP7nicbTz1UGsh0ZBe5YzH7aj/Hot4YcMtsaQurHOPakiFPptHyCdEtRzvcTx6qJaFOth3i0YhODgCejwwDPAKPh+0FVIlA8/6F71Dt0aZHzAdU8YOtsVHzwxBhMvugkIhjq6Fu2pt5PhWly02xiyzM9iyPQm/7cNRYFb5i1Dhb1ZOu99j3/Idu2dv0O26ti8D+sFfqhvKh00/sVeacr3RjRp8XnMzCn0iB24AO8GMwHt9JDQFjc1CJX42F2bz2vlLHJXZo1WtHbELGFNYm++qajUqGNiZznkBe8SegAKc05j9EEMjgsicSAV8yXSwxu9ATQEhCTkRFflgKUv+RItFFmrjpYa+4ML+xa6vj5mg0GGOdENcPVNe2B3ThvjyEt8sUOZG96Dg3BX0/eXL/0OBw7+DidkD7QThcI2u/TeiQW5waEAZPbO10F3+MBXwAThCDlHQcpY/wlNdygQS0u99iXzc8IzmohwawSGSOjsgdJMyAi7Jaw6W5Atg1g6WjOOZlE5/vwUcbcKi95sgPScXbpkc87v5R3i3SxIqhR5Fzv5HCsUrqZJsU5CHQcfoI=
  skip_existing: true
  on:
    tags: true
