[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
pylint = "*"
coverage = "*"
pytest = "< 5"  # for Python 2 support.
pytest-mock = "*"
pytest-cov = "*"

[packages]
cachecontrol-django = {editable = true,path = "."}
